{% extends 'base.html' %}
{% block body %}

<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>


    {% for melon in melon_dict %}

    <tr><td>{{ melon_dict[melon]["name"] }} </td><td> {{ melon_dict[melon]["quantity"] }} </td><td> {% set price = melon_dict[melon]["price"] %} ${{"%0.2f" | format(price)}} </td> <td> {% set total = melon_dict[melon]["quantity"] * melon_dict[melon]["price"] %} ${{"%0.2f" | format(total)}} </td>

    {% endfor %}

</table>
<h3>Total: ${{ cart_total }}</h3>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
